<!DOCTYPE html>
<html layout:decorate="~{base}">
    <head>
        <title>Vaccine Care</title>
    </head>
    <div layout:fragment="content">
        <div style="text-align: center;">
            <h2>Patient Vaccination Details</h2>
            <h2>Choose All Vaccinations that you have taken</h2>
            <div class="container" style="padding-top: 68px">
                <section id="vaccination1">
                    <div class="row">
                        <div class="col-3">
                            <span>Vaccination 1:</span>
                        </div>

                        <div class="col-3">
                            <select>
                                <option selected value="Covid">Covid</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select>
                                <option selected value="1">1</option>
                                <option selected value="2">2</option>
                                <option selected value="3">3</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label>Doctor</label>
                            <input type="text" />
                        </div>
                        <div class="col-3">
                            <label>Date</label>
                            <input type="date" />
                        </div>
                    </div>
                </section>

                <section id="vaccination2">
                    <div class="row">
                        <div class="col-3">
                            <span>Vaccination 2:</span>
                        </div>

                        <div class="col-3">
                            <select>
                                <option selected value="Covid">Covid</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select>
                                <option selected value="1">1</option>
                                <option selected value="2">2</option>
                                <option selected value="3">3</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label>Doctor</label>
                            <input type="text" />
                        </div>
                        <div class="col-3">
                            <label>Date</label>
                            <input type="date" />
                        </div>
                    </div>
                </section>
                
                <section id="vaccination2">
                    <div class="row">
                        <div class="col-3">
                            <span>Vaccination 3:</span>
                        </div>

                        <div class="col-3">
                            <select>
                                <option selected value="Covid">Covid</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <select>
                                <option selected value="1">1</option>
                                <option selected value="2">2</option>
                                <option selected value="3">3</option>
                                <option value="No">No</option>
                            </select>
                        </div>
                        <div class="col-3">
                            <label>Doctor</label>
                            <input type="text" />
                        </div>
                        <div class="col-3">
                            <label>Date</label>
                            <input type="date" />
                        </div>
                    </div>
                </section>
                <button type="submit" class="btn btn-light p-2">Next</button>
            </div>
        </div>
    </div>
</html>